.container_1{
    border: 10px solid rgb(29, 29, 29);
    border-radius: 20px;
    background-color: rgb(174, 174, 174);
    background-image: linear-gradient(to left, rgb(191, 191, 191), rgb(56, 56, 56) );
    width: 500px;
}
.input_drugi{
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 5px;
    width: 210px;
    height: 30px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
.input_prvi{
    width: 210px;
    height: 30px;
    text-align: center;
    margin-left: 15px;
    margin-top: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
.text_prvi{
    margin-left: 15px;
    margin-bottom: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    text-shadow: -6px 6px 2px black;
}
.text_drugi{
    margin-left: 15px;
    margin-bottom: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    text-shadow: -6px 6px 2px black;
}
::placeholder { 
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  }
  .button_prvi{
    color: rgb(0, 0, 0);
    background-color: rgb(202, 202, 202);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-style: groove;
  }
  .button_drugi{
    color: rgb(255, 255, 255);
    background-color: rgb(47, 47, 47);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-style: groove;
  }
  .remember{
    margin-left: 10px;
    margin-bottom: 15px;
    width: 15px;
    height: 15px;
  }
  .remember_h{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: -3px 3px 1px black;
    margin-bottom: 20px;
    padding-bottom: 30px;
    font-size: ;
  }
  .forgot{
    margin-left: 23 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: bold;
  }
  